html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
img {
    font-family: 'Quicksand', sans-serif;
    color: rgba(44, 50, 125, 1);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
img {
    display: block;
}

header {
    background-color: rgba(224, 229, 99, 1);
    padding-bottom: 1.25rem;
}

h1,
img,
#summary,
#contact {
    padding: 1rem 2.1rem 1.25rem;
}

img,
#summary {
    background-color: rgba(255, 255, 255, .5);
    margin: auto;
    width: 94%;
    padding: 1rem;
}

.inline {
    color: white;
}

#contact {
    padding: 1rem 2.1rem 1.25rem;
    background-color: rgba(44, 50, 125, 1);
    color: white;
}

h1 {
    background-color: rgba(236,137,82, 1);
    color: rgba(255, 255, 255, .75);
    font-size: 3rem;
    font-weight: bold;
}
img {
    width: 70%;
    max-width: 290px;
    margin: 1rem auto;
    border: rgba(44, 50, 125, 1) solid 3px;
    padding: .25rem;
}

h2 {
    padding: .5rem ;
    color: white;
    background-color: rgba(122, 202, 184, 1);
}

main {
    background-color: rgba(122, 202, 184, .3);
}

h3,
h4,
.dates,
h5 {
    width: 94%;
    margin: auto;
    padding: 1rem 1rem .5rem;
    border-bottom: 1px rgba(241, 109, 124,.7) solid;
}

section {
    padding: 1rem 0;
}

#experience {
    padding: 0 0 1rem;
}

h4,
.dates,
ul,
h5 {
    padding: .5rem 1rem;
    border: none;
}

.dates {
    padding-top: 0;
}

ul,
h5 {
    padding-left: 2.5rem;
    width: 94%;
    margin: auto;
}

.dates,
h5 {
    font-style: italic;
}

li {
    padding: .4rem 0;
    list-style-type: circle;
}

h5 {
    text-transform: uppercase;
    padding-left: 2.8rem;
}

/* ---- Media Queries ---- */

@media (min-width: 400px) {
    #skills ul,
    #interests ul {
        width: 40%;
        display: inline-block;
        padding: .5rem 1rem;
    }
}
